@import './fonts.css';
@import 'tailwindcss';

:root {
  --background: #fff;
  --foreground: #000;
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: var(--background);
  color: var(--color-white);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}
